{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}Agenda</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
</head>
<body>
    {% include 'global/partials/_header.html' %}
    {% include 'global/partials/_messages.html' %}
    <main class="content">
        {% block content %}
            {% if contacts %}
                <div class="responsive-table">
                    <table class="contacts-table">
                        <caption class="table-caption">
                            contacts
                        </caption>
                        <thead>
                            <tr class="table-row table-row-header">
                                <th class="table-header">ID</th>
                                <th class="table-header">FIRST NAME</th>
                                <th class="table-header">LAST NAME</th>
                                <th class="table-header">PHONE</th>
                                <th class="table-header">EMAIL</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contact in page_obj %}
                                <tr class="table-row">
                                    <td class="table-cel">
                                        <a class="table-link" href="{% url 'contact:contact' contact.id %}">
                                            {{ contact.id }}
                                        </a>
                                    </td>
                                    <td class="table-cel">{{ contact.first_name }}</td>
                                    <td class="table-cel">{{ contact.last_name }}</td>
                                    <td class="table-cel">{{ contact.phone }}</td>
                                    <td class="table-cel">{{ contact.email }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="single-contact">
                    <h1 class="single-contact-name">
                        Nenhum contato encontrado!
                    </h1>
                </div>
            {% endif %}
            {% include 'global/partials/_pagination.html' %}
        {% endblock content %}
    </main>
</body>
</html>